body {
    background-color: #050505;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /**************************************************************************/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* theese center a div vertically as perfect*/
    /**************************************************************************/
}

h1 {
    color: #00f;
}

.main {
    background: #111;
    padding: 30px;
    /* for space between border and texts */
    border: 2px solid #00f;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.1);
}

input {
    background: #222;
    border: 1px solid #00f;
    color: #00f;
    padding: 10px;
    font-size: 1.2rem;
    width: 60px;
    text-align: center;
}

button {
    background: #00f;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 10px #fff;
    transform: translateY(-3px);
}

#up_or_down {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

.hub {
    color: #555;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.hub:hover {
    color: #00f;
    transform: translateY(-3px);
    transition: 0.3s;
    box-shadow: 0 0 10px #fff;
}