body{
    text-align: center;
    align-items: center;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}
h3{
    margin-top: 20px;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1a1a1a;
    border-left: 5px solid #ff0000;
    display: inline-block;
    color: #ffffff;
    font-size: 1.5rem;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);    
}
h3::after{
    content: "_";
    animation: blink 0.8s step-end infinite;
    color: #0f0;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px auto;
    max-width: 50%;
    gap: 20px;
}
.game-button {
    aspect-ratio: 1 / 1;
    background-color: #c1c0b7;
    border: 2px solid #333;
    cursor: pointer;
}
.game-button:hover {
    background-color: #a9a8a0;
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}